{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "admin",
          "roles" : [ "admin" ]
        }, {
          "username" : "support",
          "password" : "support",
          "roles" : [ "support" ]
        }, {
          "username" : "user",
          "password" : "user"
        } ]
      },
      "classPath" : [ ]
    },
    "langFolder" : "${webswing.rootDir}/lang",
    "homeDir" : "${user.dir}"
  },
  "/ing-sw" : {
    "path" : "/ing-sw",
    "enabled" : true,
    "homeDir" : "${webswing.rootDir}/demo/ing-sw",
    "webFolder" : "",
    "langFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ],
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "swingConfig" : {
      "allowUpload" : false,
      "allowDownload" : false,
      "isolatedFs" : false,
      "autoLogout" : true,
      "sessionLogging" : false,
      "monitorEdtEnabled" : true,
      "name" : "ing-sw",
      "theme" : "Murrine",
      "directdraw" : true,
      "javaFx" : false,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "it.polimi.ingsw.Client"
      },
      "maxClients" : 300,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "loadingAnimationDelay" : 2,
      "allowStealSession" : false,
      "allowDelete" : false,
      "allowAutoDownload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : false,
      "allowLocalClipboard" : false,
      "allowServerPrinting" : false,
      "recordingsFolder" : "${webswing.tempDirPath}recordings${webswing.appPath}/",
      "fontConfig" : { },
      "classPathEntries" : [ "lib/*.jar", "ing-sw-2019-7-1.0.jar" ],
      "allowedCorsOrigins" : [ ],
      "transparentFileOpen" : true,
      "transparentFileSave" : true,
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "goodbyeUrl" : "",
      "loggingDirectory" : "${webswing.logsDir:-logs/}",
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}"
    }
  }
}