<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <envs>
      <env name="HTTP_PORT" value="80" />
    </envs>
    <option name="INCLUDE_PROVIDED_SCOPE" value="true" />
    <option name="MAIN_CLASS_NAME" value="it.polimi.ingsw.server.Server" />
    <module name="server" />
    <option name="PROGRAM_PARAMETERS" value="-w -s -r" />
    <option name="WORKING_DIRECTORY" value="$MODULE_WORKING_DIR$" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="it.polimi.ingsw.common.network.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>